:root {
  --blue-color: #1f4284;
  --gray-color: #727272;
  --blue-color-second: #244c98;
  --white-color: #ffffff;
  --bg-color-main: #ebf0fa;
  --input-color: #d7e2f6;
  --modal-color: #f0f4fc;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &__inner {
    width: 100%;
    max-width: 500px;
    background-color: var(--modal-color);
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 10px;
  }

  &__content {
    h2 {
      font-size: calc(18px + 6 * ((100vw - 375px) / 1920));
      font-weight: 500;
      line-height: 32.78px;
      margin-bottom: 18px;
      color: #323232;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      input[type='text'],
      input[type='password'] {
        background-color: var(--input-color);
        width: 100%;
        padding: 24px 0px 24px 24px;
        line-height: 24.59px;
        font-weight: 500;
        font-size: 18px;
        color: var(--blue-color);
        border-radius: 10px;
      }
      input[type='text'] {
        margin-bottom: 4px;
      }
      input[type='password'] {
        margin-bottom: 24px;
      }
    }
  }

  &__close {
    align-self: flex-end;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 4px;
    img {
      width: 24px;
      height: 24px;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

input::-webkit-input-placeholder {
  color: var(--blue-color);
}

input::-moz-placeholder {
  color: var(--blue-color);
}

input:-ms-input-placeholder {
  color: var(--blue-color);
}

input::-ms-input-placeholder {
  color: var(--blue-color);
}

input::placeholder {
  color: var(--blue-color);
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px; 
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #323232;
    border-radius: 2px;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 4px;
      top: 0px;
      width: 6px;
      height: 12px;
      border: solid #000;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
.link {
  color: var(--blue-color-second);
  font-size: 20px;
  line-height: 27.32px;
  margin-bottom: 36px;
  font-weight: 500;
}
.button--second {
  padding: 18px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 4px;
}
.button--third {
  background-color: transparent;
  border: 1px solid #244C98;
  color: #244C98;
}
