:root {
  --blue-color: #1f4284;
  --gray-color: #727272;
  --blue-color-second: #244c98;
  --white-color: #ffffff;
  --bg-color-main: #ebf0fa;
  --input-color: #d7e2f6;
  --modal-color: #f0f4fc;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &__inner {
    width: 100%;
    max-width: 500px;
    background-color: var(--modal-color);
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin: 10px;
  }

  &__content {
    h2 {
      font-size: calc(18px + 6 * ((100vw - 375px) / 1920));
      font-weight: 500;
      line-height: 32.78px;
      margin-bottom: 18px;
      color: #323232;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      input[type='text'],
      input[type='password'] {
        background-color: var(--input-color);
        width: 100%;
        padding: 24px 0px 24px 24px;
        line-height: 24.59px;
        font-weight: 500;
        font-size: 18px;
        color: var(--blue-color);
      }
      input[type='text'] {
        margin-bottom: 4px;
      }
    }
  }

  &__close {
    align-self: flex-end;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 4px;
    img {
      width: 24px;
      height: 24px;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

input::-webkit-input-placeholder {
  color: var(--blue-color);
}

input::-moz-placeholder {
  color: var(--blue-color);
}

input:-ms-input-placeholder {
  color: var(--blue-color);
}

input::-ms-input-placeholder {
  color: var(--blue-color);
}

input::placeholder {
  color: var(--blue-color);
}

.close {
}
.modal__content {
}
.button {
}
.button--second {
}
.button--third {
}
